body {
        font: 18px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin: 3px;
}

h1 {
	color: #3db2e1;
	border-bottom: #3db2e1 3px dotted;
        text-shadow: 1px 1px 1px #000; 
}

h2 {
	padding-top: 10px !important;
	color: #3db2e1;
	border-bottom: #3db2e1 2px dotted;
	width: 40% !important;
        text-shadow: 1px 1px 1px #000; 
}

h3 {
	color: #3db2e1;
        text-shadow: 1px 1px 1px #000; 
}

h4 {
	color: #3db2e1;
        text-shadow: 1px 1px 2px #333; 
}

li {
	list-style-type: circle;
	color: #3db2e1;
}

a img {
    border: 0;
}

pre {
	background-color: #FAFAFA !important;
	border-left: 5px solid lightgray !important;
	padding: 10px !important;
	margin-left: 20px !important;
	width: 90% !important;
	font-size: large;
}

code, tt {
	font-size: 1.3em;
	font-weight: bold;
}

table{
	padding: 10px !important;
	margin-left: 20px !important;
}

table tr td {
    border-bottom: 1px solid #770088;
}

table tr th {
    background-color: #FFAAFF;
    font-size: 0.8em;
}

table tr td.ar { 
	text-align: right; 
}

table tr th.ar { 
	text-align: right; 
}

a:visited, a:active, a:link {
	color: #0a0a0a;
}

a:hover {
	color: #3db2e1;
	text-decoration: none;
}


#header {
	background: white url('../images/gray-shade.png') repeat-x bottom;
	padding: 1px;
    height: 190px;
}

#cssmenu { margin-left: 20px;
margin-right: 20px;
}

#content {
	background: #E3E9FF url('../images/pink-shade.png') repeat-x top;
	padding: 20px;
	padding-right: 40px;
	padding-left: 100px;
}

#footer {
	background: white url('../images/gray-shade-top-down.png') repeat-x top;
	color: #3db2e1;
	text-align: center;
	padding: 1px;
	height: 100px;
}

#footer a{
	text-decoration: none;
	text-shadow: 1px 1px 1px #333; 
}

#footer a:hover{
	color: #000;
}
#sidebox {
    float: right;
    background-color: white;
    margin: 10px;
    padding: 10px;

    font-weight: bold;
    font-size: 1.1em;
}

#sidebox img {
    padding-right: 10px;
}

#sidebox a {
    text-decoration: none;
}

#sidebox table tr td {
    border: none;
}


.roundPinkBorder {
    border: 3px solid #6C3CAB;

    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;

       -moz-box-shadow: 4px 4px 5px #888;
    -webkit-box-shadow: 4px 4px 5px #888;
            box-shadow: 4px 4px 5px #888;
}